<form>
    <div class="roll-tracker-form flexcol" data-userId="{{user.id}}">
        <h1 class="roll-tracker-form-heading">{{user.name}}</h1>
        <ul class="roll-tracker-form flexcol">
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.mean"}}: </span>{{stats.mean}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.median"}}: </span>{{stats.median}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.mode"}}: </span>
                {{#each stats.mode.modes}}{{this}}{{#unless @last}}, {{/unless}}{{/each}} ({{stats.mode.count}})
            </li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.nat1s"}}: </span>{{stats.nat1s}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.nat20s"}}: </span>{{stats.nat20s}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.count"}}: </span>{{stats.count}}</li>
            <li><span class="roll-tracker-form stat">{{localize "ROLL-TRACKER.form-label.streak"}}: </span>{{stats.streak.last}} ({{stats.streak.count}})</li>
        </ul>
        <div class="roll-tracker-hist flexrow">
            {{#each stats.percents}}
            <div class="hist-bar" style="height: min(100%, calc(2 * {{this}}%));" title="{{lookup ../stats.histogram @index}} ({{this}}%)"></div>
            {{/each}}
        </div>
    </div>
</form>